version: '2'

services:

  #use this docker-compose file to enable hot reloading of the front end app
  #developer can modify local frontend code and see the changes live in docker container
  mongodb:
    restart: "no"
    image: mongo:4.2.3
    ports:
      - "27017:27017"
    expose:
      - 27017
    networks:
      - proxy-tier

  mongo-seed:
    restart: "no"
    build: ./deploy/mongo-seed
    links:
      - mongodb
    networks:
      - proxy-tier

  redis:
    restart: "no"
    image: redis
    container_name: cache
    expose:
      - 6379
    networks:
      - proxy-tier

  web:
    restart: "no"
    image: node:14
    volumes:
        - ./:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - "3001"
    environment:
      # mongodb:27017 is a direct reference to the 'mongodb' mongo container
      - DB_CONN_STRING=mongodb://mongodb:27017/assyrian
      - REACT_PARSE_APP_ID=REACT_PARSE_APP_ID
      - REACT_PARSE_JS_KEY=REACT_PARSE_JS_KEY
      - REACT_PARSE_SERVER=REACT_PARSE_SERVER
      - REDIS_URL=redis://cache
      - VIRTUAL_HOST=assyrian.local
    links:
      - mongodb
      - redis
    expose:
      - "3001"
    networks:
      - proxy-tier
    command: bash -c "npm install && npx tsc && npm run start"

  nginx:
    image: nginx:alpine
    restart: "no"
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    networks:
      - proxy-tier
  # lb:
  #   restart: "no"
  #   image: dockercloud/haproxy
  #   links:
  #     - web
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 80:80


networks:
  proxy-tier:
    driver: bridge
